.logo img{
    width: 85px;
    height: 85px;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
}

.features li img{
    width: 85px;
    height: 85px;
}
form {
    place-content: center;
    display:grid;
}
form input{
    width: 400px;
    margin: 3% 0;
}
form input[name=descricao]{
    width: 300px;
}